@media screen and (orientation: landscape) {
    .william{
        display: flex;
        padding-left: 15vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .william  h1{
        align-self: center;
        justify-self: flex-start;
        font-size: 2.5em;
        margin: 0vw 8vw;
        border-bottom: 1px solid var(--border-color);
    }

    .william   img{
        width: 300px;
    }
    
    #aboutme {
        position: relative;
        margin: auto;
        top: -25px;
        width: 70%;
        border-right: none;
    }

}


@media screen and (orientation: landscape) and (max-width: 1000px) {
    .william{
        padding: 0;
        max-height: none;
        margin-left: 5PX;
    }

    .william > div > h1{
        font-size: 2em;
    }
    
    #aboutme {
        position: relative;
        top: -15px;
        right: 0px;
        width: 80%;
        border-right: none;
        font-size: 0.9em;
    }
}

@media (min-width:1000px){
    .project-header{
        width: 100%;
    }

    .project-header > button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: black;
        cursor: pointer;
    }

    .project-header > button:hover{
        border: blue;
    }
    
    .project-header > button > img{
        width: 50%;
    }

    .cel{
        display: none;
        grid-template-rows: 1fr 8fr 1fr;
        position: sticky;
        right: 0px;
        top: 60px;
        margin: 10px 0px;
        width: 350px;
        height: 500px;
        background-color: white;
        border-radius: 30px;
    }

    .cel-top, .cel-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cel-top > div{
        width: 80px;
        height: 2px;
        border: 1px solid black;
        border-radius: 1000px;
    }

    .cel-screen{
        margin: auto;
        width: 96%;
        height: 100%;
        border-radius: 5px;
    }

    .cel-screen > iframe{
        width: 96%;
        height: 100%;
    }

    .cel-button > div{
        padding: 3px 10px;
        border: 1px solid black;
        border-radius: 1000px;
        box-shadow: inset -5px -5px 4px silver;
        cursor: pointer;
        text-decoration: underline;
    }

    .cel-button > div:hover{
        border: 1px solid blue;
    }

}

@media screen and (orientation: landscape) and (max-width: 600px) {
    .id{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .id img{
        max-width: 80%;
        align-self: center;
    }
}