@media screen and (orientation: portrait) {
    .id{
        flex-direction: column-reverse;
    }

    .william{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .william h1{
        padding-bottom: 15px;
    }
    
    .william img {
        position: relative;
        top: -10px;
        width: 70vw;
        z-index: -1;
    }

    #aboutme{
        position: relative;
        top:  -30px;
        text-align: right;
    }

    #aboutme > h2{
        margin-top: 10px;
        text-align: right;
    }

    .website-grid3{
        grid-template-areas: 
        "advinhacaoprint advinhacaoprint"
        "velhamob missilemenu"
        "missilegame missilegame";
        grid-template-columns: 50% 50%;
    }

    .dispensa-grid2{
        grid-template-areas:
        "dispensa-addscreen dispensa-addscreen"
        "dispensa-editscreen dispensa-removescreen";
        grid-template-columns: 50% 50%;
    }
}

@media(max-width:200px){
    header > div{
        flex-direction: column;
    }
}