@media screen and (orientation: portrait) {
    .william{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .william h1{
        position: relative;
        right: -30%;
        width: 70%;
        text-align: right;
        padding-right: 10px;
    }
    .william img {
        position: relative;
        top: -10px;
        width: 70vw;
        z-index: -1;
    }

    #aboutme{
        position: relative;
        top:  -30px;
        text-align: right;
    }

    #aboutme > h2{
        margin-top: 10px;
        text-align: right;
    }
}

@media(max-width:200px){
    header > div{
        flex-direction: column;
    }
}