@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tela: calc(100vh - 70px);
}


body {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 30px 0% 30px 0%;
    border-bottom: 2px solid #808080b0;
}

header > div, .Me {
    display: flex;
    align-items: center;
    gap: 10px;
}

header p, .Me > h1 {
    font-weight: bold;
    text-align: left;
}

header ul {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.william img {
    border-radius: 30px 0px 30px 0px;
}

nav ul {
    display: none;
    background-color: rgba(255, 255, 255, 0.903);
    position: absolute;
    width: 200px;
    right: 0;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

nav li {
    color: gray;
    list-style-type: none;
    padding: 10px 25px;
    text-align: right;
    border-bottom: 1px solid grey;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
}

.william {
    margin: 10px 0px;
    padding: 10px 10px;
}

.aboutme {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-top-left-radius: 20px;
}

.aboutme > p{
    text-indent: 30px;
    margin-bottom: 10px;
}

main {
    padding: 10px;
    margin-bottom: 30px 10px;
    border-radius: 0 30px 0 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

main > section{
    margin: 5px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 0px 20px;
    color: black;
}


section > h3 > a{
    color: black;
}

main > h2, main > section > h3{
    margin: 20px 0px;
}

#Website{
    background-color: #A9D7F3;
}

#Dispensa{
    background-color: rgb(167, 165, 165);
}

#Art-Gallery{
    background-color: #F7CD00;
}

footer {
    margin-bottom: 10px;
    padding: 10px;
}

.Minhas-Redes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.redes img {
    width: 80%;
    border-radius: 50%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.redes > p {
    font-size: 10px;
}
