@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tela: calc(100vh - 30px);
}


body {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 30px 0% 30px 0%;
    border-bottom: 2px solid #808080b0;
}

header > div, .Me {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img{ 
    width: 30px;
    border-radius: 50%;
}

header p, .Me > h1 {
    font-weight: bold;
    text-align: center;
}

header ul {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.william img {
    border-radius: 30px 0px 30px 0px;
}

.william {
    width: 100vw;
    min-height: var(--tela);
    padding: 10px 10px;
}

.aboutme {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-top-left-radius: 20px;
}

@media screen and (orientation: landscape) {
    .aboutme {
        width: 70%;
    }
}

nav ul {
    display: none;
    background-color: rgba(255, 255, 255, 0.903);
    position: absolute;
    width: 200px;
    right: 0;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

nav li {
    color: gray;
    list-style-type: none;
    padding: 10px 25px;
    text-align: right;
    border-bottom: 1px solid grey;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
}

.william{
    margin: 10px 0px;
}

.Me{
    margin-bottom: 30px;
}

.aboutme{
    padding: 10px;
}

.aboutme > h2 {
    font-size: 1.4em;
}

.aboutme > p{
    text-indent: 30px;
    margin-bottom: 10px;
}

main {
    padding: 10px;
    margin-bottom: 30px 10px;
    border-radius: 0 30px 0 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.grid-list::-webkit-scrollbar{
    width: 3px;
}

.grid-list::-webkit-scrollbar-thumb{
    background-color: white;
}

.grid-list {
    margin: auto;
    width: 80%;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 20px;
}

.grid-list > li {
    width: 96%;
}

main > h2 {
    padding: 5px 0;
}

.grid-list h3 {
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 5px;
}

@media(min-width: 500px) {
    .grid-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .li1 {
        grid-column: 1 / 2;
    }
}

.projeto {
    background-color: white;
    width: 100%;
    aspect-ratio: 500 / 300;
    border: 2px solid white;
    border-radius: 30px;
}

footer {
    margin-bottom: 10px;
    padding: 10px;
}

.Minhas-Redes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.redes img {
    width: 80%;
}

.redes > p {
    font-size: 10px;
}
