@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6em;
    scroll-behavior: smooth;
}

:root {
    --menuPosition: 0   px;
    --bg-color: rgb(40, 40, 40);
    --text-color: white;
    --border-color: gray;
    --menu-bg: rgba(255, 255, 255, 0.903);
    --menu-hover: rgba(255, 255, 255, 0.104);
    --border-radius: 0px 0 30px 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease; 
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 30px;
    border-radius: var(--border-radius);
    border-bottom: 2px solid var(--border-color);
}

header > a{
    text-align: center;
}

header div, .Me {
    display: flex;
    align-items: center;
    gap: 10px;
}

header p, .Me > h1 {
    font-weight: bold;
    text-align: left;
}

header ul {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

#toggle-tema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 25px;
    background-color: var(--bg-color);
    border-radius: 1000px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
  
#toggle-tema img {
    height: 100%;
    transition: transform 0.4s ease;
}
  
.texto-tema {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    transition: max-width 0.4s ease, opacity 0.4s ease;
    max-width: 100%;
    opacity: 1;
}
  
.texto-escuro {
    width: 100%;
    opacity: 1;
}

.texto-claro{
    max-width: 0;
    transform: translateX(-10px);
}

.tema-claro .texto-escuro {
    max-width: 0;
    opacity: 0;
    transform: translateX(10px);
}

.tema-claro .texto-claro {
    max-width: 100%;
    opacity: 1;
    transform: translateX(0px);
}

.tema-claro #toggle-tema img {
    transform: rotate(360deg);
}   
  
.hamburger {
    background-color: var(--bg-color);
    padding: 0px 3px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bolder;
    border-radius: 2px;
    cursor: pointer;
}

.tema-claro .hamburger{
    background-color: #DDE4E9;
    border-bottom: 1px solid #B3C3CE;
    border-right: 1px solid #B3C3CE;
    border-top:1px solid #ffffff;
    border-left:1px solid #ffffff;
}

.tema-claro .hamburger:active{
    background-color: #DDE4E9;
    border-top: 1px solid #B3C3CE;
    border-left: 1px solid #B3C3CE;
    border-bottom:1px solid #ffffff;
    border-right:1px solid #ffffff;
}

.id{
    display: flex;
    width: 100%;
}

.william img {
    border-radius: 30px 0px 30px 0px;
    background-color: whote;
}

.william h1{
    padding-bottom: 5px;
    text-align: center;
}

#menu {
    display: none;
    z-index: 1;
    position: sticky;
    top: var(--menuPosition);
    max-height: 60vh;
    opacity: 0;
    transition: all 0.3s ease;
}

#menu.show {
    display: block;
    opacity: 1;
    max-height: 500px;
    cursor: pointer;
}

#menu ul {
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    width: 200px;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

#menu li {
    background-color: var(--menu-bg);
    color: gray;
    list-style-type: none;
    padding: 10px 25px;
    text-align: right;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}

#menu li:last-child{
    border-bottom: none;
}

#menu li:hover {
    background-color: var(--menu-hover);
    color: var(--text-color);
    font-weight: bolder;
}

.william {
    max-width: 1000px;
    padding: 10px;
    margin: auto;
}

#aboutme {
    margin-left: 20px;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 20px;
}

#aboutme > p {
    text-indent: 30px;
    margin-bottom: 10px;
}

main > .project {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
    border-radius: 20px;
    padding: 0 20px;
    color: #111;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    width: 94%;
    max-width: 800px;
    padding: 30px;
    padding-bottom: 0px;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 30px 0px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    aspect-ratio: 1/1;
    padding: 3px;
    border: 1px solid var(--border-color);
    border-radius: 10px 0px 10px 0px;
    color: white;
}

.skill:hover > img{
    width: 68%;
    transition: 0.5s;
}

.skill > img{
    width: 60%;
}

.skill > p {
    color: var(--text-color);
    font-size: clamp(0.2em, 2.2vw, 1em);
    margin-bottom: 0px;
}

.skill-obs{
    text-align: right;
    width: 100%; 
    margin: 30px 0px 0px 0px;
}

main{
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 0 30px 0 30px;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    overflow-wrap: break-word;
}

main section{
   max-width: 1000px;
   margin: auto;
}

main > h2{
    border-bottom: 1px solid var(--border-color)
}

.project-header{
    max-width: 800px;
    margin: 5px auto 20px auto;
}

main p{
    margin: auto;
    max-width:800px ;
    margin-bottom: 20px;
}

#Escolaridade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-radius: 30px 3px 30px 3px;
    padding: 20px 10px;
    margin: 50px auto;
}

#Escolaridade section{
    height: 100%;
}

.project-info {
    width: 100%;
}

.project-info > h3 > a {
    color: black;
}

.project-info img{
    width: 96%;
    height: 96%;
    object-fit: contain;
    align-self: center;
    transition: transform 0.3s;
}

.project-info img:hover{
    transform: scale(1.05);
}

.grid-images{
    margin: auto;
    width: 90%;
    display: grid;
    margin-bottom: 15px;
}

.website-grid1{
    max-width: 500px;
    grid-template-areas:
        "initdesk initmob"
        "webmenu initmob";
    grid-template-columns: 65% 35%;
}

.website-grid2{
    max-width: 300px;
    grid-template-areas:
        "materia animateborder"
        "blur blur";
    grid-template-columns: 1fr 1fr;
}

.website-grid3{
    max-width: 600px;
    grid-template-areas:
        "velhamob advinhacaoprint missilemenu"
        "velhamob missilegame missilemenu";
    grid-template-columns: 25% 50% 25%;
}

.dispensa-grid1{
    max-width: 600px;
    grid-template-areas:
        "dispensa-main";
}

.dispensa-grid2{
    max-width: 700px;
    grid-template-areas: 
    "dispensa-addscreen dispensa-editscreen"
    "dispensa-addscreen dispensa-removescreen";
    grid-template-columns: 65% 35%;
}

.dispensa-grid3{
    max-width: 600px;
}

.dispensa-grid4{
    max-width: 600px;
}

.art1{
    max-width: 600px;
    grid-template-areas:
    "artmain carrosselgirmob carrosselponymob";
    grid-template-columns: 62% 16% 22%;
}

.art2{
    max-width: 380px;
    grid-template-areas:
    "masonrymob masonrymodal"
    "masonrylandscape masonrylandscape";
    grid-template-rows: 65% 35%;
}

.art3{
    max-width: 600px;
    grid-template-areas: 
    "rpgmain rpgdruid rpgmob"
    "rpgmain rpgbarbarian rpgmob";
    grid-template-columns: 28% 44% 28%;
}

.art4{
    max-width: 600px;
    grid-template-areas:
    "verseslandscape versesmob";
    grid-template-columns: 80% 20%;
    
}

.art5{
    max-width: 600px;
    grid-template-areas: 
    "rockermob rockerlandscape"
    "rockermob rockerefect";
    grid-template-columns: 37% 63%;
}

.art6{
    max-width: 600px;
    grid-template-areas:
    "magiclandscape magicmob magicmobeffect"
    "magiclandefect magicmob magicmobeffect";
    grid-template-columns: 48% 26% 26%;
}

hr {
    margin: auto;
    width: 100%;
    height: 50px;
    border: 2px solid var(--bg-color);
    border-radius: 0px 0px 30px 0px;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 40px
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

main > h2, .project-info > h3 {
    margin: 20px 0;
}

.project-header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
}

.project-header a > img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid blue;
}

.project-header > button {
    display: none;
}

.text-paragraph{
    text-indent: 40px;
}

#Website { 
    background-image: linear-gradient(to bottom right,#e4e9ed, #A9D7F3);
    border: 3px solid #4b2b6a;
}

#Dispensa {
    background-image:linear-gradient(to bottom right, #eceaea,#a7a5a5) ;
    border: 3px solid #a9a9a9;
}

#Art-Gallery { 
    background-image: linear-gradient(to bottom right, #FFE460 87%, #F7CD00);
    border: 3px solid #4b2b6a
}

.cel { 
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.251);
}

footer {
    margin-bottom: 10px;
    padding: 20px;
}

footer h3{
    margin: 10px 0px;
}

.Minhas-Redes {
    display: flex;
}

.Minhas-Redes ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}


.Minhas-Redes li a {
    color: var(--text-color);
    text-decoration: none;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.redes:hover {
    transform: scale(1.3);
}

.redes img {
    width: 80%;
    border-radius: 50%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.redes > p {
    font-size: 10px;
}

#contatos{
    display: flex;
    gap: 30px;
}

.contato{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    inset: 0;
    z-index: 3;
  }

.modal-container{
    width: 600px;
    max-width: 90%;
    height: 600px;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
  
.hidden {
    display: none;
}
  
.close{
    position: absolute;
    color: white;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
}

.nav{
    color: white;
    font-size: 34px;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    padding: 50px 20px;
}
  
.close {
    top: 20px;
    right: 30px;
    padding: 10px;
}
  
@media (hover: hover) and (pointer: fine) {
    .close:hover,.nav:hover {
        color: #f44336;
    }
}
